@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Subtly smoothing fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom minimal dark scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}